.w-CenterJob {
    width: calc(100% - 260px);
}

.skillcard {
    color: #2a429c;
    border: 1px solid #2a429c;
    background-color: white;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 500;
}

.skillcardHeight {
    max-height: 100px;
    min-height: 100px;
    overflow-y: auto;
}

.commonCheckSmRound input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.commonCheckSmRound label {
    position: relative;
    cursor: pointer;
}

.commonCheckSmRound label:before {
    content: "";
    background-color: transparent;
    border: 1px solid #c0c6cb;
    border-radius: 50px;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    margin-right: 4px;
    display: inline-block;
    background-color: white;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.commonCheckSmRound input:checked+label:before {
    background-color: #6048f6;
    border: 1px solid #6048f6;
}

.commonCheckSmRound input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.ul-list-style-none {
    list-style: none;
}